.DS_Store

.vagrant
roles/lol.*
*.retry
.vault_pass

/node_modules/
/bower_components/
/dist/
/temp/
/tmp/
/deployBundle/
.idea/

5gmedia-vdetection.tar

index.html
index.dev.html
index.devprocess.html

!/swagger/ui/index.html
!/docs/index.html

/tensorflow/_face-recognition.js